$fuentePrincipal: 'Montserrat', sans-serif;

//colores
$verde: #4CB8B3;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000;
$blanco: #FFF;

//media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

// Fuente
$delgada: 300;
$normal: 400;
$bold: 700;
$black: 900;

// Fuentes


// Separaciones

$separacion: 5rem;