.galeria{
    padding: $separacion 0;
    h3{
        text-align: center;
    }
}

.galeria-imagenes{
    list-style: none;
    padding: 0;
    margin-top: $separacion;
    img{
        width: 100%;
    }
    @include grid(2,$separacion);
    @include tablet{
        @include grid(4,$separacion/2)
    }
    @include desktop{
        @include grid(6,$separacion/2)
    }
}