
.header{
    background-color: $verde;

    
    .contenido-header{
        padding: 2.5rem 0;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        
        h1{
            text-align: center;
            color: $blanco;
            @include tablet{
                margin-bottom: 0;
            }
            margin-bottom: 1rem;
        }
    }

    .navegacion-principal{
        display: flex;
        gap: 2rem;
        justify-content: center;
        a{
            color: $blanco;
            &:hover{
            color: $amarillo;
            }
        }
    }

    &.fijo{
        position: fixed;
        width: 100%;
        box-shadow: 0 .3rem 0.4rem #444;
    }
}



